p{ color: beige;
    font-size:larger;
    text-align: left;
}

h1{ color: indigo;
    font-size: 40px;
    font-weight: bold;
    font-style: inherit;
}

h2{ color: lightskyblue;
    font-size: medium;
    text-align: left;
}

body{ 
    background-color: grey;
}

